# Python bytecode
__pycache__/
*.py[cod]
*.pyd
*.so

# Environments and Secrets
venv/
.venv/
env/
.env
.flaskenv
.aws/

# Data handling
data/*
!data/feature_metadata.csv
!data/category_mappings.csv

# Ensure Models are NOT ignored
!model/
!model/*.pkl
!model/*.joblib
!encoders/
!encoders/*.pkl

# Git and IDEs
.git/
.gitignore
.dvc/
.vscode/
.idea/

# Logs and OS junk
*.log
.DS_Store
Thumbs.db