# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# MLflow (DO NOT TRACK)
# =========================
mlruns/
mlflow.db

# =========================
# Data (handled by DVC)
# =========================
data/*.csv
data/*.zip
data/*.parquet

# =========================
# Models (handled by DVC)
# =========================
model/*.pkl
model/*.joblib

# =========================
# DVC Cache (auto-managed)
# =========================
.dvc/cache/
.dvc/tmp/

# =========================
# Docker (optional)
# =========================
*.tar

# =========================
# Misc
# =========================
try.txt
demo
test_batch_api.py


# =========================
# AWS / Cloud
# =========================
.aws/
.elasticbeanstalk/
combined_results.csv
output/